.main-footer {
}

.user-input-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-input {
    flex: auto;
    resize: none;

    color: hsl(13, 29%, 6%);
    background-color: hsl(14, 100%, 91%);

    font-size: 1.0rem;

    margin-top: 0.5em;
    box-sizing: border-box;
    padding: 5px;
    border: none;
    box-shadow: none;
    outline: 0.1rem solid var(--colorButtonText);
    border-radius: 0.5rem;
}

.submit-button-box {
    flex: none;
    padding-left: 1rem;
}

.disclaimer-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0;
}

.disclaimer {
    font-size: 0.8rem;
    font-weight: 300;
}
