<div class="chat-message user">
    <div class="raw">
        {{.UserMessageContent}}
    </div>
    <div class="formatted"></div>
</div>

<div class="chat-message assistant">
    <div class="raw">
        {{.AssistantMessageContent}}
    </div>
    <div class="formatted"></div>
</div>